@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.item{
    height: 90%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafaf8;
    border-radius: 20%;
    border: 2px solid #f2f2f1;
    cursor: pointer;
}

.item span {
    position: relative;
    bottom: -20%;
}

.photo{
    height: 20%;
    width: 20%;
    background-position: center;
    background-size: cover;
}